<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>交易记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/mobile/mobile.css'}"/>
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/reset.css'}" />
    <script type="text/javascript" src="@{'/public/javascripts/jquery-2.0.js'}"></script>
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/mobile/jquery.mobile-1.4.3.css'}" />
    <script type="text/javascript" src="@{'/public/javascripts/jquery.mobile-1.4.3.js'}"></script>
</head>

<body>



<div data-role="page" id="index">


    <div data-role="content" >
        <h3>登录</h3>
        <div data-role="content">
         <table>
             <thead><tr><td></td><td></td><td></td></tr></thead>
             <tbody><tr><td></td><td></td><td></td></tr></tbody>
         </table>
        </div>
    </div>
    <div data-role="content" >
        <h3>登录</h3>
        <div>23123123da</div>
    </div>
    <div data-role="content" >
        <h3>登录</h3>
        <div>23123123da</div>
    </div>



</div>



</body>
</html>