<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>产品列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/reset.css'}" />
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/mobile/jquery.mobile-1.4.3.css'}" />
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/mobile/product-list.css'}" />
    <script type="text/javascript" src="@{'/public/javascripts/jquery-2.0.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jquery.mobile-1.4.3.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/mobile/productList.js'}"></script>
</head>
<body>
    <div class="loading-container">
        loading...
    </div>
    <div id="product-list" class="product-list">
        <div class="adv_banner" id="banner">
        <!--首页图片轮换添加div层(其它内容是原来的)-->
        <div class="scroll-box">
            <!--banner start-->
            <ul class="banul" id="banul">
                <li>
                    <a style="cursor: default;">
                        <img src="@{'/public/images/front_ad_1.png'}" alt="广告" onerror="this.src='/public/images/default.png'"/>
                    </a>
                </li>
                <li>
                    <a style="cursor: default;">
                        <img src="@{'/public/images/front_ad_2.png'}" alt="广告" onerror="this.src='/public/images/default.png'"/>
                    </a>
                </li>

                <li>
                    <a style="cursor: default;">
                        <img src="@{'/public/images/front_ad_3.png'}" alt="广告" onerror="this.src='/public/images/default.png'"/>
                    </a>
                </li>

                <li>
                    <a style="cursor: default;">
                        <img src="@{'/public/images/front_ad_4.png'}" alt="广告" onerror="this.src='/public/images/default.png'"/>
                    </a>
                </li>

                <li>
                    <a style="cursor: default;" >
                        <img src="@{'/public/images/front_ad_5.png'}" alt="广告" onerror="this.src='/public/images/default.png'"/>
                    </a>
                </li>
            </ul>
            <!--banner end-->
        </div>
    </div>
        <div id="productList">
            <ul>
                <li class="item">
                    <div class="clearfix">
                        <p>
                            新手产品001
                        </p>
                        <ul>
                            <li>
                                <p>
                                    年化收益率
                                </p>
                                <p>
                                    <span>8.5</span>%
                                </p>
                            </li>
                            <li>
                                <p>
                                    期限7天
                                </p>
                                <p>
                                    1000元起头
                                </p>
                            </li>
                            <li>
                                <a>投资</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span>
                            距离购买结束时间
                        </span>
                        <span>
                            2天12小时48分23秒
                        </span>

                    </div>
                </li>
                <li class="item">
                    <div class="clearfix">
                        <p>
                            新手产品001
                        </p>
                        <ul>
                            <li>
                                <p>
                                    年化收益率
                                </p>
                                <p>
                                    <span>8.5</span>%
                                </p>
                            </li>
                            <li>
                                <p>
                                    期限7天
                                </p>
                                <p>
                                    1000元起头
                                </p>
                            </li>
                            <li>
                                <a>投资</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span>
                            距离购买结束时间
                        </span>
                        <span>
                            2天12小时48分23秒
                        </span>

                    </div>
                </li>
                <li class="item">
                    <div class="clearfix">
                        <p>
                            新手产品001
                        </p>
                        <ul>
                            <li>
                                <p>
                                    年化收益率
                                </p>
                                <p>
                                    <span>8.5</span>%
                                </p>
                            </li>
                            <li>
                                <p>
                                    期限7天
                                </p>
                                <p>
                                    1000元起头
                                </p>
                            </li>
                            <li>
                                <a>投资</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span>
                            距离购买结束时间
                        </span>
                        <span>
                            2天12小时48分23秒
                        </span>

                    </div>
                </li>
                <li class="item">
                    <div class="clearfix">
                        <p>
                            新手产品001
                        </p>
                        <ul>
                            <li>
                                <p>
                                    年化收益率
                                </p>
                                <p>
                                    <span>8.5</span>%
                                </p>
                            </li>
                            <li>
                                <p>
                                    期限7天
                                </p>
                                <p>
                                    1000元起头
                                </p>
                            </li>
                            <li>
                                <a>投资</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span>
                            距离购买结束时间
                        </span>
                        <span>
                            2天12小时48分23秒
                        </span>

                    </div>
                </li>
                <li class="item">
                    <div class="clearfix">
                        <p>
                            新手产品001
                        </p>
                        <ul>
                            <li>
                                <p>
                                    年化收益率
                                </p>
                                <p>
                                    <span>8.5</span>%
                                </p>
                            </li>
                            <li>
                                <p>
                                    期限7天
                                </p>
                                <p>
                                    1000元起头
                                </p>
                            </li>
                            <li>
                                <a>投资</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span>
                            距离购买结束时间
                        </span>
                        <span>
                            2天12小时48分23秒
                        </span>

                    </div>
                </li>
                <li class="item">
                    <div class="clearfix">
                        <p>
                            新手产品001
                        </p>
                        <ul>
                            <li>
                                <p>
                                    年化收益率
                                </p>
                                <p>
                                    <span>8.5</span>%
                                </p>
                            </li>
                            <li>
                                <p>
                                    期限7天
                                </p>
                                <p>
                                    1000元起头
                                </p>
                            </li>
                            <li>
                                <a>投资</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span>
                            距离购买结束时间
                        </span>
                        <span>
                            2天12小时48分23秒
                        </span>

                    </div>
                </li>
                <li class="item">
                    <div class="clearfix">
                        <p>
                            新手产品001
                        </p>
                        <ul>
                            <li>
                                <p>
                                    年化收益率
                                </p>
                                <p>
                                    <span>8.5</span>%
                                </p>
                            </li>
                            <li>
                                <p>
                                    期限7天
                                </p>
                                <p>
                                    1000元起头
                                </p>
                            </li>
                            <li>
                                <a>投资</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span>
                            距离购买结束时间
                        </span>
                        <span>
                            2天12小时48分23秒
                        </span>

                    </div>
                </li>
                <li class="item">
                    <div class="clearfix">
                        <p>
                            新手产品001
                        </p>
                        <ul>
                            <li>
                                <p>
                                    年化收益率
                                </p>
                                <p>
                                    <span>8.5</span>%
                                </p>
                            </li>
                            <li>
                                <p>
                                    期限7天
                                </p>
                                <p>
                                    1000元起头
                                </p>
                            </li>
                            <li>
                                <a>投资</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span>
                            距离购买结束时间
                        </span>
                        <span>
                            2天12小时48分23秒
                        </span>

                    </div>
                </li>
                <li class="item">
                    <div class="clearfix">
                        <p>
                            新手产品001
                        </p>
                        <ul>
                            <li>
                                <p>
                                    年化收益率
                                </p>
                                <p>
                                    <span>8.5</span>%
                                </p>
                            </li>
                            <li>
                                <p>
                                    期限7天
                                </p>
                                <p>
                                    1000元起头
                                </p>
                            </li>
                            <li>
                                <a>投资</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span>
                            距离购买结束时间
                        </span>
                        <span>
                            2天12小时48分23秒
                        </span>

                    </div>
                </li>
                <li class="item">
                    <div class="clearfix">
                        <p>
                            新手产品001
                        </p>
                        <ul>
                            <li>
                                <p>
                                    年化收益率
                                </p>
                                <p>
                                    <span>8.5</span>%
                                </p>
                            </li>
                            <li>
                                <p>
                                    期限7天
                                </p>
                                <p>
                                    1000元起头
                                </p>
                            </li>
                            <li>
                                <a>投资</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span>
                            距离购买结束时间
                        </span>
                        <span>
                            2天12小时48分23秒
                        </span>

                    </div>
                </li>
                <li class="item">
                    <div class="clearfix">
                        <p>
                            新手产品001
                        </p>
                        <ul>
                            <li>
                                <p>
                                    年化收益率
                                </p>
                                <p>
                                    <span>8.5</span>%
                                </p>
                            </li>
                            <li>
                                <p>
                                    期限7天
                                </p>
                                <p>
                                    1000元起头
                                </p>
                            </li>
                            <li>
                                <a>投资</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span>
                            距离购买结束时间
                        </span>
                        <span>
                            2天12小时48分23秒
                        </span>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>