<!DOCTYPE html>
<html> 
<head>

    <meta charset="utf-8">
    <title>修改密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/mobile/jquery.mobile-1.4.3.css'}" />
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/mobile/mobileCommon.css'}" />
    <script type="text/javascript" src="@{'/public/javascripts/jquery-2.0.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jquery.mobile-1.4.3.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/mobileCommon.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/verification.js'}"></script>


    <style>
        .eye{
            position: absolute;
            display: block;
            top: 12px;
            right: 10px;
            width: 33px;
            height: 20px;
            background: url(/public/images/h5icon/eyes_closed.png) no-repeat center right #FFFFFF;
            background-size: 100%;
        }
        .row-width{
            width:100%;
            text-align: left;
        }
        .rel-pos{
            position: relative;
        }
        #submitbtn{
            background-color: darkred;
        }
        .mobile_login_shurk{ height: 45px; line-height: 28px; font-size: 15px; color: #969696; padding:0 0 0 5px;}
    </style>
</head>
<body>

<div data-role="page" >

        <div class="ui-field-contain">
            <input type="tel" id="mobilename" name="mobilename" maxlength="11"  placeholder="请输入您的手机号" >
            <input type="tel" id="idcard" name="idcard" maxlength="18" placeholder="请输入您的身份证" >
            <div class="ui-grid-a">
                <li class="ui-block-a">
                    <input type="text" class="mobile_login_shurk" id="verifyCode" name="verifyCode"  placeholder="请输入您的验证码" >
                </li>
                <li class="ui-block-b">
                    <a href="#" data-role="button" id="btn_getVerifyCode">获取验证码</a>
                </li>
            </div>
            <div class="row-width rel-pos">
                <input type="text" class=" input-click"  id="loginpwd" placeholder="重设密码"  maxlength="11" autocomplete="off" > <b class="eye"></b>
            </div>
            <div id="error_tips">
                <div class="error_tips">
                    <h4 class="error_tips_title">提示</h4>
                    <p class="error_tips_content"><var id="error_msg">${flash?.error}</var></p>
                    <div class="close_error_tips">
                        <span id="btn_closeErrorTips" class="btn_PopRed cwhite" onclick="closeErrorTips();">确 定</span>
                    </div>
                </div>
            </div>
            <br>
            <a class="ui-btn ui-corner-all ui-shadow ui-btn-b"  id="submitbtn" type="submit" onclick="login()" disabled="disabled" >完成</a>

        </div>


</div>

</body>
<script>
    $(document).on("pageinit", function(){
        veriChangeVal("submitbtn","#idcard","#verifyCode","#loginpwd","#mobilename");

        var msg = '${flash?.msg}';
        if (msg == null || msg == undefined || msg == '') {
            $("#error_tips").hide();
        }else{
            $("#error_tips").show();
        }
    });

    $(".eye").click(
            function(){
                if( $("#loginpwd").attr("type")=="password"){
                    $(".eye").css("background","url(/public/images/h5icon/eyes_opened.png) no-repeat center right #FFFFFF");
                    $(".eye").css("background-size","100%");
                    $("#loginpwd").attr("type","text");
                }else
                if( $("#loginpwd").attr("type")=="text"){
                    $(".eye").css("background","url(/public/images/h5icon/eyes_closed.png) no-repeat center right #FFFFFF");
                    $(".eye").css("background-size","100%");
                    $("#loginpwd").attr("type","password");
                }
            }
    );



    $("#btn_getVerifyCode").on("click",function(){
        try{
            $("#btn_getVerifyCode").attr("disabled","disabled");
            $.ajax({
                type : "GET",
                url : getBaseUrl() + "/mobile/verifyCode",
                data : {"mobile":$("#name").val()},
                success : function(data) {
                    if(0==data.error.code){
                        getValCodeTimeout(60,"btn_getVerifyCode");
                    }else{
                        $("#btn_getVerifyCode").removeAttr("disabled");
                        $("#error_tips").show();
                        $("#error_msg").text(data.error.msg);
                    }
                },
                error : function(XMLHttpRequest) {
                    $("#btn_getVerifyCode").removeAttr("disabled");
                    $("#error_tips").show();
                    $("#error_msg").text("网络错误，请稍后再试",XMLHttpRequest);
                }
            });
        }catch(err){
            showErr(err);
        }
    });

    $("#submitbtn").on("click",function(){
        var mobile = veriPhoneNumber($("#mobilename").val());
        if (mobile != true) {
            $("#error_tips").show();
            $("#error_msg").text(mobile);
            return;
        }

        var idcard = veriIdentity($("#idcard").val());
        if (idcard != true) {
            $("#error_tips").show();
            $("#error_msg").text(idcard);
            return;
        }

        var verifyCode = veriValCode($("#verifyCode").val());
        if (verifyCode != true) {
            $("#error_tips").show();
            $("#error_msg").text(verifyCode);
            return;
        }

        var password = veriPassword($("#loginpwd").val());
        if (password != true) {
            $("#error_tips").show();
            $("#error_msg").text(password);
            return;
        }


//        try{
//            $.ajax({
//                type : "POST",
//                url : getBaseUrl() + "/mobile/register",
//                data : {name:$("#mobilename").val(),
//                    password:$("#password").val(),
//                    verifyCode:$("#verifyCode").val(),
//                    recommended:$("#recommended").val()},
//                success : function(data) {
//                    if(0==data.error.code){
//                        //redirect
//                    }else{
//                        $("#error_tips").show();
//                        $("#error_msg").text(data.error.msg);
//                    }
//                },
//                error : function(XMLHttpRequest) {
//                    $("#error_tips").show();
//                    $("#error_msg").text("网络错误，请稍后再试",XMLHttpRequest);
//                }
//            });
//        }catch(err){
//            showErr(err);
//        }
    });
</script>
</html>